<h1>Order List</h1>

<% if !@orders.present? %>
  <p>You have no ordered items.</p>
<% end %>

<% @orders.each do |order| %>
  <p>
    <strong>Order Date & Time:</strong>
    <%= order.created_at.strftime("%m/%d %H:%M") %>
  </p>

  <table border=1>
    <thead>
      <tr>
        <td width=100px>Product Name</td>
        <td>Quantity Ordered</td>
      </tr>
    </thead>
    <tbody>
      <% order.ordered_lists.order(item_id: :asc).each do |ordered_list| %>
      <% if ordered_list.quantity != 0 %>
        <tr>
          <td><%= Item.find_by(id: ordered_list.item_id).name %></td>
          <td><%= ordered_list.quantity %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
