<h1>Orders Received</h1>

<table border=1>
  <thead>
    <tr>
      <td>Product Name</td><td>Quantity Ordered</td>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.total_quantity %></td>
    </tr>
  <% end %>
  </tbody>
</table>
